gitlab-runner:
  labels:
    io.rancher.sidekicks: gitlab-runner-data,gitlab-runner-config
  image: docker.repo.waimai.sankuai.info/gitlab/gitlab-runner:alpine-v1.2.0
  volumes_from:
  - gitlab-runner-data

gitlab-runner-config:
  labels:
    io.rancher.sidekicks: gitlab-runner-data
    io.rancher.container.start_once: 'true'
  net: none
  image: docker.repo.waimai.sankuai.info/gitlab/gitlab-runner:alpine-v1.2.0
  volumes_from:
  - gitlab-runner-data
  command: register -n -u ${gitlab_ci_url} -t ${gitlab_ci_token} --executor docker --docker-image ${gitlab_ci_image} --docker-privileged
    
gitlab-runner-data:
  labels:
    io.rancher.container.start_once: 'true'
  net: none
  entrypoint:
  - /bin/true
  image: busybox
  volumes:
  - /etc/gitlab-runner
  - /var/run/docker.sock:/var/run/docker.sock

