gitlab-runner:
  labels:
    io.rancher.sidekicks: gitlab-runner-data
  image: docker.repo.waimai.sankuai.info/gitlab/gitlab-runner:alpine-v1.2.0
  volumes_from:
  - gitlab-runner-data
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock
  privileged: true

# gitlab-runner-register:
#   labels:
#     io.rancher.sidekicks: gitlab-runner-data
#     io.rancher.container.start_once: 'true'
#   image: docker.repo.waimai.sankuai.info/gitlab/gitlab-runner:alpine-v1.2.0
#   volumes_from:
#   - gitlab-runner-data
#   command: register -n --url ${gitlab_ci_url} --token ${gitlab_ci_token} --executor docker --description "${gitlab_ci_description}" --docker-image "${gitlab_ci_image}" --docker-privileged
    
gitlab-runner-data:
  labels:
    io.rancher.container.start_once: 'true'
  net: none
  entrypoint:
  - /bin/true
  image: busybox
  volumes:
  - /etc/gitlab-runner

